@charset "UTF-8";
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #252222;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* -------------button-общая ---------------------*/
.button {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
  line-height: 38px;
  background: var(--background-first-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  height: 50px;
  width: 200px;
  transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus, .button:hover {
  background: var(--background-first-color) e8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .button {
    font-size: 700;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

:root {
  --primary-text-color: darkgrey;
  --second-text-color: #f12a2ae1;
  --white-color-text: rgb(247, 241, 241);
  --background-first-color: #f12a2ae1;
  --background-second-color: hsl(240, 2%, 40%);
}

.main-nav {
  background-color: #ff6600;
}

.line {
  border-bottom: 1px solid #ececec;
  transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .line {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-set {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .card-set {
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set {
    padding: 0;
    margin: 0;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.card-set > .item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .card-set > .item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set > .item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.setings-cards {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.text-none {
  text-decoration: none;
}

.card-text {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  padding: 24px 64px 23px 64px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.overlay-tehno {
  position: relative;
  overflow: hidden;
}

.item:hover .card-text {
  transform: translate(0%);
}

.item:focus .card-text {
  transform: translate(0%);
}

.potfolio-items {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

.name-of-itens {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.baner {
  background-color: var(--background-second-color);
  padding-top: 118px;
  padding-bottom: 198px;
  margin-bottom: 60px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mob-vers/hero1x-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .baner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mob-vers/hero2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .baner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/ihero1x-min.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .baner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/ihero2x-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .baner {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 94px;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images//comp/foto1.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .baner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/comp/foto1.jpg);
  }
}

.baner_text {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.06em;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--white-color-text);
}

@media screen and (min-width: 768px) {
  .baner_text {
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: 1.6;
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .baner_text {
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
    max-width: 650px;
  }
}
/*# sourceMappingURL=main.css.map */