<!-- <header class="line">

    <div class="container flex-center ">
        <nav class="main-nav ">
            <p>Агентство нерухомості місто Первомайськ</p>
            <a href="/index.html">АСТОРІЯ</a>
            <div>
                <ul class="site-nav">
                    <li class="site-nav__item-nav"><a href="index.html" class="link active">Купівля/продаж обе'ктів
                            нерухомості</a></li>
                    <li class="site-nav__item-nav"><a href="index.html" class="link">Оренда</a></li>
                    <li class="site-nav__item-nav"><a href="index.html" class="link">Оцінка об'єктів</a></li>
                    <li class="site-nav__item-nav"><a href="index.html" class="link">Юридичні послуги</a></li>
                    <li class="site-nav__item-nav"><a href="index.html" class="link">Супровід угод</a></li>

                </ul>
            </div>

            <div>
        </nav>
        <ul class="site-nav">

            <li class="site-nav__item-site"><a href="anastoriy@mail.ru" class="link site-nav__item-text"><svg
                        class="site-nav__email" width="16" height="12">
                        <use href="./images/sprite.svg#icon-email"></use>
                    </svg> anastoriy@mail.ru</a></li>


            <li class="site-nav__item-site"><a href="tel+38 066 267 86 49" class="link site-nav__item-text"><svg
                        class="site-nav__phone" width="10" height="16">
                        <use href="./images/sprite.svg#icon-phone"></use>
                    </svg>+38 066 267 86 49</a></li>

            <li class="site-nav__item-site"><a href="tel+38 066 267 86 49" class="link site-nav__item-text"><svg
                        class="site-nav__phone" width="10" height="16">
                        <use href="./images/sprite.svg#icon-phone"></use>
                    </svg>+38 098 843 60 50</a></li>
        </ul>
    </div>




    <ul class="mob-modal__sicials">
        <li class="mob-modal__sicials_item">
            <a href="Instagram" class="madal_link">Instagram</a>
        </li>

        <li class="mob-modal__sicials_item">
            <a href="Viber" class="madal_link">
                <svg class="socials-line" width="22" height="0">
                    <use href="./images/sprite.svg#icon-Line-socials"></use>
                </svg>Viber</a>

        </li>
        <li class="mob-modal__sicials_item">
            <a href="Facebook" class="madal_link">
                <svg class="socials-line" width="22" height="0">
                    <use href="./images/sprite.svg#icon-Line-socials"></use>
                </svg>Facebook</a>
        </li>

    </ul>
    </div>
    </div>

</header> -->