:root {
  --primary-text-color: darkgrey;
  --second-text-color: #f12a2ae1;
  --white-color-text: rgb(247, 241, 241);

  --background-first-color: #f12a2ae1;
  --background-second-color: hsl(240, 2%, 40%);
}
